<div class="title">
    <div class="t"><h1><%= title %></h1></div>
</div>
<div class="descript">
    <p>Description is here</p>
</div>


<div>
    <div class="content">
        <h3>Ex) cmd1: "ls -al |grep app" </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c1'>
        </form>
        <form id='target' action='cmd/download'>
            <p class="download"><input type='submit' name="cmd" value="DOWNLOAD"></p>
            <textarea placeholder='result'  name="description" class="t1" cols="120" rows="15"><%=data1%></textarea>
        </form>
    </div>
    <div class="content">
        <h3> Ex) cmd2: "pwd" </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c2'>
        </form>
        <form id='target' action='cmd/download'>
            <p class="download"><input type='submit' name="cmd" value="DOWNLOAD"></p>
            <textarea placeholder='result'  name="description" class="t1" cols="120" rows="15"><%=data2%></textarea>
        </form>
    </div>
    <div class="content">
        <h3> --- </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c3'>
        </form>
        <form id='target' action='cmd/download'>
            <p class="download"><input type='submit' name="cmd" value="DOWNLOAD"></p>
            <textarea placeholder='result'  name="description" class="t1" cols="120" rows="15"><%=data3%></textarea>
        </form>
    </div>
    <div class="content">
        <h3> --- </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c4'>
        </form>
        <form id='target' action='cmd/download'>
            <p class="download"><input type='submit' name="cmd" value="DOWNLOAD"></p>
            <textarea placeholder='result'  name="description" class="t1" cols="120" rows="15"><%=data4%></textarea>
        </form>
    </div>
    <div class="content">
        <h3> --- </h3>
        <form id='target' action='cmd'>
                <input type='submit' name="cmd" value='c5'>
        </form>
        <form id='target' action='cmd/download'>
            <p class="download"><input type='submit' name="cmd" value="DOWNLOAD"></p>
            <textarea placeholder='result'  name="description" class="t1" cols="120" rows="15"><%=data5%></textarea>
        </form>
    </div>
</div>

 
